mixin about()
	+b.about&attributes(attributes)
		+e.text
			p Интернет-магазин пиротехники «Название» - это отличное настроение и незабываемая атмосфера в любое время года.
			p В нашем каталоге только сертифицированная продукция от лучших производителей пиротехники России.
			p Все товары всегда в наличии в наших магазинах в Иркутске. Заказывайте и забирайте из ближайшего магазина.
			p При заказе от 2 000 рублей - доставим ваш заказ бесплатно в любую точку города.
			p При покупке больших объемов возможна скидка до 30%.
			p При возникновении труднойстей наши менеджеры всегда проконсультируют вас по телефону по любым возникшим вопросам.
		+e.grid
			.grid.grid_about
				each item, index in getData('about')
					.grid__item(class = "_" + index)
						+text-icon(item)&attributes(attributes)(class = item.class)
