.breadcrumbs
  display: flex
  font-size: 12px
  flex-wrap: wrap
  color: #838594
  &__link
    text-decoration: none
    color: #fff
  &__arrow
    margin: 0 15px
    &::before
      content: ''
      width: 6px
      height: 6px
      display: inline-block
      vertical-align: middle
      background-color: var(--color_red)
      border-radius: 50%
