.slogan
  display: block
  color: var(--color_gray)
  font-size: 11px
  line-height: 1.4
  font-weight: 300
  text-transform: uppercase
  letter-spacing: 0.2em
  @mixin tablet
    font-size: 11px
    line-height: 1.4
    &_map
      font-size: 11px
  @mixin desktop
    font-size: 14px
    &_map
      font-size: 11px
