.post-header
  display: block
  padding: 13px 0
  &__container
    align-items: center
    display: flex
  &__logo
    flex: 0 0 205px
  &__phone
    flex: 1 1 auto
    text-align: right
  @mixin tablet
    display: none
