mixin map()
	+b.map&attributes(attributes)
		script.
			window.marks = [
				{
					coords: [52.267653,104.28914],
					title: 'Иркутск, Верхняя набережная, 10',
					content: 'Иркутск, Верхняя набережная, 10'
				},
				{
					coords: [52.26087857193219, 104.3107894999999],
					title: 'Иркутск, бульвар Постышева, 39',
					content: 'Иркутск, бульвар Постышева, 39'
				}
			];
			window.mapCenter = [52.26487857193219, 104.30];
		+e.map(id = "js-map")
