.container
  display: block
  padding: 0 var(--padding_mobile)
  margin: 0 auto
  @mixin desktop
    max-width: var(--width_desktop)
    padding-left: var(--padding_tablet)
    padding-right: var(--padding_tablet)
