.schedule
  display: block
  font-size: 16px
  line-height: 1.6
  &__header
    font-weight: bold
  @mixin tablet
    display: flex
    &__header
      flex: 0 0 110px
    &__content
      padding-left: 10px
