.partner-item
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 160px
  overflow: hidden
  background-color: #fafafa
  &__img
    max-width: 160px
    /* max-height: 80px */
