.discount
  display: block
  background-color: var(--color_light)
  border-radius: 16px
  padding: 35px 40px
  padding-bottom: 30px
  text-decoration: none
  &__header
    display: block
    font-size: 22px
    text-align: center
    line-height: 1.36
    margin-bottom: -22px
  &__img
    display: block
    margin: 0 auto
