.logo
  display: flex
  align-items: center
  text-decoration: none
  &__title
    font-size: 20px
    line-height: 1
    display: block
  &__slogan
    font-size: 10px
    color: #838594
    line-height: 1
    display: block
  &__content
    padding-left: 15px
  @mixin tablet
    &__img
      width: 136px
