extends /blocks/layout-popup/layout-popup.pug

include /blocks/popup/popup.pug
include /blocks/heading/heading.pug
include /blocks/icon/icon.pug
include /blocks/form/form.pug

block content
	+popup({"icon": false, "title": "Вход в личный кабинет"})._login
		+form._login
			+e.row
				+form-input({
					"type": "text",
					"label": "Ваше имя",
					"placeholder": "Ваше имя",
					"name": "name",
					"id": "enter-name"
				})._nolabel._dark
			+e.row
				+form-input({
					"type": "phone",
					"label": "Номер телефона или Email",
					"placeholder": "Номер телефона или Email",
					"name": "phone",
					"id": "enter-phone"
				})._nolabel._dark
			+e.row
				+form-checkbox({
					"name": "enter-confirm",
					"value": 1,
					"checked": true
				})
					+e('span').txt Прочитал и принимаю #[a(href = '#').form__link политику конфиденциальности]
			+e.footer
				+e.row
					+button(type = 'submit')._big.form__submit Войти
					+button({'type': 'link'})._link(href = '#') Регистрация

