.cart-contacts
  display: block
  margin-bottom: -20px
  &__col
    margin-bottom: 15px
  &__col_100
    flex: 0 0 100%
  @mixin tablet
    max-width: 880px
    &__col
      margin-bottom: 0
    &__row
      margin-bottom: 20px
      lost-center: 100%
    &__col_30
      lost-column: 1/3 3 20px
