.cart-payment
  display: flex
  align-items: flex-start
  /* &__radios
    margin-bottom: 16px */
  &__media
    flex: 0 0 40%
    padding: 11px
    background-color: #F6ECE3
    border-radius: 4px
    display: none
  @mixin tablet
    &__media
      display: block
    &__content
      flex: 0 0 100%
      max-width: 910px
    /* &__radios
      margin-bottom: 30px */

