mixin category-item(data)
	+b('a').category-item&attributes(attributes)(href = '#' title = data.title)
		+e.content
			+e.count #{data.count}
			+e.title #{data.title}
			+e.price #{data.price}
		if data.img
			+e.media
				+image({'file': data.img, 'alt': data.title}).category-item__image
