.order-product
  display: flex
  align-items: center
  &__media
    flex: 0 0 120px
    display: flex
    justify-content: center
    align-items: center
  &__img
    max-width: 100px
  &__title
    font-weight: 500
    font-size: 14px
    padding-right: 20px
    flex: 1 1 auto
  &__price
    flex: 0 0 120px
    color: #666666
    font-weight: bold
  &__count
    flex: 0 0 120px
    color: #666666
    font-weight: bold
    padding-right: 20px

