mixin price()
	+b.price&attributes(attributes)
		block
		+e.item
			+e.value
				+e.value-inner 1 300 ₽/шт
			+e.label
				+e.label-inner При покупке от 3 000 руб
			+e.discount
				+e.discount-inner Скидка 2%
		+e.item
			+e.value
				+e.value-inner 1 250 ₽/шт
			+e.label
				+e.label-inner При покупке от 5 000 руб
			+e.discount
				+e.discount-inner Скидка 4%
		+e.item
			+e.value
				+e.value-inner 1 200 ₽/шт
			+e.label
				+e.label-inner При покупке от 8 000 руб
			+e.discount
				+e.discount-inner Скидка 6%
		+e.item
			+e.value
				+e.value-inner 1 150 ₽/шт
			+e.label
				+e.label-inner При покупке от 3 000 руб
			+e.discount
				+e.discount-inner Скидка 8%
		+e.item
			+e.value
				+e.value-inner 1 100 ₽/шт
			+e.label
				+e.label-inner При покупке от 3 000 руб
			+e.discount
				+e.discount-inner Скидка 10%
		+e.item
			+e.value
				+e.value-inner 1 050 ₽/шт
			+e.label
				+e.label-inner При покупке от 3 000 руб
			+e.discount
				+e.discount-inner Скидка 12%
		+e.item
			+e.value
				+e.value-inner 1 000 ₽/шт
			+e.label
				+e.label-inner При покупке от 3 000 руб
			+e.discount
				+e.discount-inner Скидка 15%
